<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-stand">
    <meta name="session" content="<%= locals._session_id %>">
    <meta name="module" content="welcome">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title><%= __('ROP') %></title>

    <!-- TODO fontawesome 是临时用图标库，因为路径问题不能压缩合并，只好拿出来，以后有了图标库可以再做新的压缩合并 -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/font-awesome-animation/dist/font-awesome-animation.min.css" rel="stylesheet" />
    <link href="http://ruixuesoftpicture.oss-cn-beijing.aliyuncs.com/398a1726ce714ad4b56dd5c80751aff1/angular-material.min.css" rel="stylesheet" />
    <link href="/vendor/Swiper/dist/css/swiper.min.css" rel="stylesheet" />
    <link href="/css/welcome.css" rel="stylesheet" />
</head>
<body>
<% include ../loading.ejs %>
<% include ./partials/nav.ejs %>
<!--<div ng-hide="tab != 'index'" class="view-frame index">

</div>-->
<div ui-view id="partials" class="view-frame {{tab}}" ></div>
<img src="http://ruixuesoftpicture.oss-cn-beijing.aliyuncs.com/398a1726ce714ad4b56dd5c80751aff1/banner26.jpg" style="display: none">
<div class="login"></div>
</body>
<script type="text/javascript">
    eval('<%-locals._injection%>');
</script>
<script type="text/javascript" src="/vendor/requirejs/require.js" data-main="/js/angular/welcome/main.js"></script>

</html>
