<md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools md-toolbar-tools-bottom">
        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb md-body-1">
                <li class=""><a href="javascript:" ng-click="resetDoc()"><img ng-if="nav_menu.func_list[nav_menu._entry].func_img" ng-src="{{nav_menu.func_list[nav_menu._entry].func_img}}" />多环境</a></li>
                <li class="active"><a href="javascript:" ng-click="resetDoc()">多环境管理</a></li>
            </ol>
            <p>您可以配置API调用环境，发布多套UAT环境以适应开发者的需求</p>
        </div>
        <span flex></span>

    </div>
</md-toolbar>
<md-content class="md-padding" ng-show="mode == 0">

    <div class="head">
        <div class="left">
            <md-button class="md-raised md-primary panel-icon" ng-class="{'refreshing':refreshing}" aria-label="data control" ng-click="reset($event)">
                <md-icon class="" md-svg-icon="action:ic_cached_24px"></md-icon>
            </md-button>

            <md-button class="md-raised md-primary menu-button" aria-label="data control" ng-click="addMode()" ng-disabled="!canInsert()">
                <md-icon class="" md-svg-icon="content:ic_add_circle_outline_24px"></md-icon>
                <span>添加多环境</span>
            </md-button>

            <md-menu class="md-dropdown dark" md-offset="1 50" >
                <md-button ng-click="$mdOpenMenu($event)" class="md-raised md-primary md-hue-3" md-theme="dracular" aria-label="data control" ng-disabled="!tableData._select">
                    <span>操作</span>
                    <md-icon class="" md-svg-icon="navigation:ic_arrow_drop_down_24px"></md-icon>
                </md-button>
                <md-menu-content class="md-dropdown-content dark md-primary md-hue-3" md-theme="dracular">
                    <md-menu-item ng-if="canUpdate()"><md-button ng-click="updateMode(tableData._select.eid)">修改</md-button></md-menu-item>
                    <md-menu-item ng-if="canDelete()"><md-button ng-click="delete(tableData._select.eid)">删除</md-button></md-menu-item>
                    <md-menu-item ng-if="tableData._select"><md-button ng-click="showLog($event,tableData._select.eid)">日志</md-button></md-menu-item>
                    <md-menu-item ng-if="tableData._select"><md-button ng-click="export(tableData._select.eid)">导出</md-button></md-menu-item>
                </md-menu-content>
            </md-menu>
            <form class="search-wrapper" ng-submit="research()">
                <div class="search-group">
                    <button type="submit">
                        <md-icon class="md-primary" md-svg-icon="action:ic_search_24px" ng-click="research()"></md-icon>
                    </button>
                    <input type="text" class="searcher" ng-model="ename" placeholder="请输入关键字......"/>
                </div>
            </form>
        </div>
    </div>
    <div class="body">
        <rop-datatable cols="columns" data="tableData" searcher="searcher" index="pageIndex" size="pageSize" total="total" multiple="batch"/>
        <!--<div class="app-loading" ng-if="refreshing">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>-->
        <div class="app-loading" ng-if="refreshing">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</md-content>

<md-content class="md-padding updater simple" ng-show="mode == 1">
    <div class="stepper-wrapper">
        <rop-stepper index="step" steps="steps" />
    </div>

    <form name="updaterForm" autocomplete="off" novalidate ng-submit="locateNext($event)">
        <div class="step-1" ng-if="step == 0">
            <div class="wrapper">
                <table cellspacing="0">
                    <tbody>
                    <tr>
                        <th>
                            <span class="dot-required">环境名称</span>
                        </th>
                        <td colspan="2" class="blend-wrapper">
                            <input type="text" class="blend" name="api_title" placeholder="请输入环境名称" ng-model="updater.detail.ename" ng-disabled="updater._forView" maxlength="50" required/>
                        </td>
                        <th>
                            <span>备注</span>
                        </th>
                        <td colspan="2" class="blend-wrapper">
                            <input type="text" class="blend" name="api_title_en" placeholder="请输入备注" ng-model="updater.detail.remark" ng-disabled="updater._forView" maxlength="50"/>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>

            <div class="button-row">
                <md-button class="md-raised text line" aria-label="data control" ng-click="cancelStep()">
                    <span>取消</span>
                </md-button>
                <md-button class="md-raised md-primary text fill" aria-label="data control" ng-click="nextStep()">
                    <span>下一步</span>
                </md-button>
            </div>
        </div>
        <div class="step-2" ng-if="step == 1">
            <div class="wrapper">
                <table cellspacing="0">
                    <tbody>
                    <tr>
                        <th>
                            <span class="dot-required">克隆环境</span>
                        </th>
                        <td>
                            <md-menu class="md-dropdown cool" md-offset="1 50" ng-disabled="!updater.detail.environment_list">
                                <md-button ng-click="$mdOpenMenu($event)" class="md-raised md-primary md-hue-1" md-theme="dracular" aria-label="data control">
                                    <span ng-bind="updater.detail.selectedEnv.ename"></span>
                                    <md-icon class="" md-svg-icon="navigation:ic_arrow_drop_down_24px"></md-icon>
                                </md-button>
                                <md-menu-content class="md-dropdown-content cool" >
                                    <md-menu-item ng-repeat="env in updater.detail.environment_list"><md-button ng-click="selectEnv(env)" ng-bind="env.ename" aria-label="data control" ></md-button></md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                        <td class="control">
                            <md-button class="md-raised md-primary menu-button" aria-label="data control" ng-disabled="!updater.detail.selectedEnv || refreshing" ng-click="cloneEnv()">
                                <md-icon md-svg-icon="content:ic_content_copy_24px"></md-icon>
                                <span>克隆</span>
                            </md-button>
                        </td>
                        <th>
                            <span>URL地址</span>
                        </th>
                        <td class="blend-wrapper">
                            <input type="text" class="blend" name="api_title2" placeholder="请输入URL地址" ng-model="updater.detail.url" ng-disabled="updater._forView" maxlength="500" />
                        </td>
                        <td class="control">
                            <md-button class="md-raised md-primary menu-button" aria-label="data control" ng-click="unifyEnv()">
                                <md-icon md-svg-icon="action:ic_touch_app_24px"></md-icon>
                                <span>一键设置</span>
                            </md-button>
                        </td>
                        <th>
                            <span>搜索</span>
                        </th>
                        <td>
                            <div class="search-wrapper">
                                <div class="search-group">
                                    <button type="submit">
                                        <md-icon class="md-primary" md-svg-icon="action:ic_search_24px" ng-click="$parent.locateNext($event)"></md-icon>
                                    </button>
                                    <input type="text" class="searcher" ng-model="$parent.keyword" placeholder="请输入API名称或url地址" ng-change="$parent.locate($event)"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="datatable-wrapper">
                <div class="message-bar" ng-if="invalidURLInfo">
                    <span flex ng-bind="invalidURLInfo.msg"></span>
                    <md-icon md-svg-icon="/resource/application/md.svg" ng-if="invalidURLInfo.sub_msg" ng-click="locateURL()"></md-icon>
                </div>
                <table cellspacing="0" class="md-datatable">
                    <thead>
                    <tr>
                        <th>
                            <span>API名称</span>
                        </th>
                        <th>
                            <span>URL地址</span>
                        </th>
                    </tr>
                    </thead>
                </table>
                <div class="" md-virtual-repeat-container md-auto-shrink="true" md-top-index="$parent.topIndex" ng-class="{'shrink':invalidURLInfo}">
                    <input type="url" name="originalApi_{{$index}}" ng-repeat="api in updater.detail.api_list" ng-model="api.api_url" maxlength="500" required style="display: none"/>
                        <table cellspacing="0" class="md-datatable">
                            <tbody>
                            <tr md-virtual-repeat="api in updater.detail.api_list" class="repeated-item" ng-class="{'invalid':invalidURLInfo && (api.api_url == invalidURLInfo.sub_msg),'focused':(api._selected == 2) || invalidURLInfo && (api.api_url == invalidURLInfo.sub_msg)}">
                                <td>
                                    <a ng-href="{{apiRedirect(api.api_name)}}" target="_blank" md-highlight-text="$parent.$parent.keyword">{{api.api_name}}</a>
                                    <!--<a ng-if="api._highlightSelection" ng-bind-html="api._highlightSelection | unescapeHtml | trusthtml " ng-href="{{apiRedirect(api.api_name)}}" target="_blank"></a>-->
                                </td>
                                <td class="blend-wrapper">
                                    <input type="url" class="blend" name="api_{{$index}}" placeholder="请输入URL地址" ng-model="api.api_url" ng-disabled="updater._forView" maxlength="500" required/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                </div>
                <div class="app-loading" ng-if="refreshing">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>

            <div class="button-row">
                <md-button class="md-raised text line" aria-label="data control" ng-click="cancelStep()">
                    <span>取消</span>
                </md-button>
                <md-button class="md-raised md-primary md-hue-3 text" aria-label="data control" ng-click="previousStep()" md-theme="dracular">
                    <span>上一步</span>
                </md-button>
                <md-button class="md-raised md-primary text fill" aria-label="data control" ng-click="saveEnv()">
                    <span>保存</span>
                </md-button>
            </div>
        </div>
    </form>
</md-content>
