<!--<md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools md-toolbar-tools-bottom">
        <div class="breadcrumb-wrapper">
            &lt;!&ndash;<h3 class="title">API列表</h3>&ndash;&gt;
            <ol class="breadcrumb md-body-1">
                <li class=""><a href="javascript:" ng-click="resetDoc()"><img ng-if="nav_menu.func_list[nav_menu._entry].func_img" ng-src="{{nav_menu.func_list[nav_menu._entry].func_img}}" />应用管理</a></li>
                <li class="active"><a href="javascript:" ng-click="resetDoc()">API列表</a></li>
            </ol>
            <p>您可以使用API列表模块添加和管理供应商API，更改API状态，为API添加缓存功能等</p>
        </div>
        <span flex></span>

    </div>
</md-toolbar>-->
<md-content class="md-padding">
    <h2>提示信息</h2>
    <p ng-bind="error || '出错了，请检查您网络连接是否正常，是否有权限访问，或者是否有其他异常，并修复，如仍有问题，请联系管理员'"></p>
</md-content>
