<ul class="pagination pagination-sm">
    <li><a href="javascript:" aria-label="First" ng-click="toFirst()"><span aria-hidden="true">«</span></a></li>
    <li><a href="javascript:" aria-label="Previous" ng-click="searchPrevious()"><span aria-hidden="true">‹</span></a></li>
    <li ng-repeat="page in pages" ng-class="{'active': page.index == index}" ng-show="(page.index<=ceilingIndex) && (page.index>=(ceilingIndex - 4))">
        <a href="javascript:" ng-click="searchIndex(page.index)">{{page.index}}</a>
    </li>
    <li><a href="javascript:" aria-label="Next" ng-click="searchNext()"><span aria-hidden="true">›</span></a></li>
    <li><a href="javascript:" aria-label="Last" ng-click="toLast()"><span aria-hidden="true">»</span></a></li>
</ul>

<span>共{{pages.length}}页</span>

<span>跳转到第</span>
<span class="control">
                        <input class="form-control input-sm" ng-model="myIndex"/>
                    </span>
<span>页</span>
<span><button class="btn btn-default btn-sm" ng-click="toPage(myIndex)"><span class="fa fa-fw fa-search"></span>
</button></span>