<style>
    body{
        background: red;
    }
</style>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="500px" height="500px" viewBox="-500 -500 1000 1000">
    <path id="p1"
          d="M 100 100 A 200 400 30 1 0 600 200 a 300 100 45 0 1 -300 200"
          stroke="blue" fill="none"
          stroke-width="4" />
    <animate xlink:href="#p1"
             attributeName="d"
             attributeType="XML"
             from="M 100 100 A 200 400 30 1 0 600 200 a 300 100 45 0 1 -300 200"
             to="M 300 600 A 300 400 -20 1 0 400 200 a 200 600 -50 0 1 100 400"
             dur="10s"
             fill="freeze" />


</svg>


<div style="background: green;position: relative;height: 50px">
    <svg width="37px" height="48px" viewBox="0 13 37 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:absolute;bottom:0;left:5px;">
        <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="111111111" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0.000000, 13.000000)">
            <g id="Page-1" fill="#FFFFFF">
                <g id="Group-25">
                    <path d="M33.4883721,48 C31.6392558,48 30.1395349,46.5002791 30.1395349,44.6511628 L30.1395349,3.34883721 C30.1395349,1.49972093 31.6392558,0 33.4883721,0 C35.3374884,0 36.8372093,1.49972093 36.8372093,3.34883721 L36.8372093,44.6511628 C36.8372093,46.5002791 35.3374884,48 33.4883721,48" id="Path"></path>
                    <path d="M21.7691163,44.6511628 L21.7691163,16.9769302 C21.7691163,15.127814 20.2693953,13.628093 18.4202791,13.628093 C16.5706047,13.628093 15.0714419,15.127814 15.0714419,16.9769302 L15.0714419,44.6511628 C15.0714419,46.5002791 16.5706047,48 18.4202791,48 C20.2693953,48 21.7691163,46.5002791 21.7691163,44.6511628" id="Path"></path>
                    <path d="M6.69767442,44.6511628 L6.69767442,30.6083721 C6.69767442,28.7592558 5.19795349,27.2595349 3.34883721,27.2595349 C1.49972093,27.2595349 0,28.7592558 0,30.6083721 L0,44.6511628 C0,46.5002791 1.49972093,48 3.34883721,48 C5.19795349,48 6.69767442,46.5002791 6.69767442,44.6511628" id="Path"></path>
                    <animate xlink:href="#api-bar-3"
                             attributeName="d"
                             attributeType="XML"
                             from="M33.4883721,35.4 C31.6392558,35.4 30.1395349,35.3843779 30.1395349,35.3651163 L30.1395349,34.9348837 C30.1395349,34.9156221 31.6392558,34.9 33.4883721,34.9 C35.3374884,34.9 36.8372093,34.9156221 36.8372093,34.9348837 L36.8372093,35.3651163 C36.8372093,35.3843779 35.3374884,35.4 33.4883721,35.4"
                             to="M33.4883721,48 C31.6392558,48 30.1395349,46.5002791 30.1395349,44.6511628 L30.1395349,3.34883721 C30.1395349,1.49972093 31.6392558,0 33.4883721,0 C35.3374884,0 36.8372093,1.49972093 36.8372093,3.34883721 L36.8372093,44.6511628 C36.8372093,46.5002791 35.3374884,48 33.4883721,48"
                             dur="2s"
                             fill="freeze" />
                </g>
            </g>
        </g>
    </svg>
</div>


<svg width="37px" height="48px" viewBox="0 0 37 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="111111111" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Page-1" fill="#FFFFFF">
            <g id="Group-25">
                <path d="M33.4883721,48 C31.6392558,48 30.1395349,46.5002791 30.1395349,44.6511628 L30.1395349,3.34883721 C30.1395349,1.49972093 31.6392558,0 33.4883721,0 C35.3374884,0 36.8372093,1.49972093 36.8372093,3.34883721 L36.8372093,44.6511628 C36.8372093,46.5002791 35.3374884,48 33.4883721,48" id="api-bar-3"></path>
                <path d="M21.7691163,44.6511628 L21.7691163,16.9769302 C21.7691163,15.127814 20.2693953,13.628093 18.4202791,13.628093 C16.5706047,13.628093 15.0714419,15.127814 15.0714419,16.9769302 L15.0714419,44.6511628 C15.0714419,46.5002791 16.5706047,48 18.4202791,48 C20.2693953,48 21.7691163,46.5002791 21.7691163,44.6511628" id="api-bar-2"></path>
                <path d="M6.69767442,48.319268 L6.69767442,47.980732 C6.69767442,47.9361545 5.19795349,47.9 3.34883721,47.9 C1.49972093,47.9 0,47.9361545 0,47.980732 L0,48.319268 C0,48.3638455 1.49972093,48.4 3.34883721,48.4 C5.19795349,48.4 6.69767442,48.3638455 6.69767442,48.319268" id="api-bar-1"></path>
                <animate xlink:href="#api-bar-1"
                         attributeName="d"
                         attributeType="XML"
                         from="M6.69767442,48.319268 L6.69767442,47.980732 C6.69767442,47.9361545 5.19795349,47.9 3.34883721,47.9 C1.49972093,47.9 0,47.9361545 0,47.980732 L0,48.319268 C0,48.3638455 1.49972093,48.4 3.34883721,48.4 C5.19795349,48.4 6.69767442,48.3638455 6.69767442,48.319268"
                         to="M6.69767442,44.6511628 L6.69767442,30.6083721 C6.69767442,28.7592558 5.19795349,27.2595349 3.34883721,27.2595349 C1.49972093,27.2595349 0,28.7592558 0,30.6083721 L0,44.6511628 C0,46.5002791 1.49972093,48 3.34883721,48 C5.19795349,48 6.69767442,46.5002791 6.69767442,44.6511628"
                         dur="2s"
                         fill="freeze" />
            </g>
        </g>
    </g>
</svg>


<svg width="37px" height="49px" viewBox="0 0 37 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="111111111" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Page-1" fill="#FFFFFF">
            <g id="Group-25">
                <path d="M33.4883721,48 C31.6392558,48 30.1395349,46.5002791 30.1395349,44.6511628 L30.1395349,3.34883721 C30.1395349,1.49972093 31.6392558,0 33.4883721,0 C35.3374884,0 36.8372093,1.49972093 36.8372093,3.34883721 L36.8372093,44.6511628 C36.8372093,46.5002791 35.3374884,48 33.4883721,48" id="Path"></path>
                <path d="M21.7691163,44.6511628 L21.7691163,16.9769302 C21.7691163,15.127814 20.2693953,13.628093 18.4202791,13.628093 C16.5706047,13.628093 15.0714419,15.127814 15.0714419,16.9769302 L15.0714419,44.6511628 C15.0714419,46.5002791 16.5706047,48 18.4202791,48 C20.2693953,48 21.7691163,46.5002791 21.7691163,44.6511628" id="Path"></path>
                <path d="M6.69767442,48.319268 L6.69767442,47.980732 C6.69767442,47.9361545 5.19795349,47.9 3.34883721,47.9 C1.49972093,47.9 0,47.9361545 0,47.980732 L0,48.319268 C0,48.3638455 1.49972093,48.4 3.34883721,48.4 C5.19795349,48.4 6.69767442,48.3638455 6.69767442,48.319268" id="Path"></path>
            </g>
        </g>
    </g>
</svg>
<!--<?xml version="1.0" encoding="UTF-8"?>
<svg width="37px" height="48px" viewBox="0 0 37 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    &lt;!&ndash; Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch &ndash;&gt;
    <title>Group 25</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-25" fill="#FFFFFF">
            <path d="M33.4883721,48 C31.6392558,48 30.1395349,46.5002791 30.1395349,44.6511628 L30.1395349,3.34883721 C30.1395349,1.49972093 31.6392558,0 33.4883721,0 C35.3374884,0 36.8372093,1.49972093 36.8372093,3.34883721 L36.8372093,44.6511628 C36.8372093,46.5002791 35.3374884,48 33.4883721,48" id="Path"></path>
            <path d="M21.7691163,44.6511628 L21.7691163,16.9769302 C21.7691163,15.127814 20.2693953,13.628093 18.4202791,13.628093 C16.5706047,13.628093 15.0714419,15.127814 15.0714419,16.9769302 L15.0714419,44.6511628 C15.0714419,46.5002791 16.5706047,48 18.4202791,48 C20.2693953,48 21.7691163,46.5002791 21.7691163,44.6511628" id="Path"></path>
            <path d="M6.69767442,44.6511628 L6.69767442,30.6083721 C6.69767442,28.7592558 5.19795349,27.2595349 3.34883721,27.2595349 C1.49972093,27.2595349 0,28.7592558 0,30.6083721 L0,44.6511628 C0,46.5002791 1.49972093,48 3.34883721,48 C5.19795349,48 6.69767442,46.5002791 6.69767442,44.6511628" id="Path"></path>
        </g>
    </g>
</svg>-->
<!--
<svg width="37px" height="48px" viewBox="0 0 37 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    &lt;!&ndash; Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch &ndash;&gt;
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="111111111" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Page-1" fill="#FFFFFF">
            <g id="Group-25">
                <path d="M33.4883721,1 C31.6392558,1 30.1395349,0.968755815 30.1395349,0.930232558 L30.1395349,0.0697674419 C30.1395349,0.031244186 31.6392558,0 33.4883721,0 C35.3374884,0 36.8372093,0.031244186 36.8372093,0.0697674419 L36.8372093,0.930232558 C36.8372093,0.968755815 35.3374884,1 33.4883721,1" id="Path"></path>
                <path d="M21.7691163,14.5306635 L21.7691163,13.7255225 C21.7691163,13.6717252 20.2693953,13.628093 18.4202791,13.628093 C16.5706047,13.628093 15.0714419,13.6717252 15.0714419,13.7255225 L15.0714419,14.5306635 C15.0714419,14.5844608 16.5706047,14.628093 18.4202791,14.628093 C20.2693953,14.628093 21.7691163,14.5844608 21.7691163,14.5306635" id="Path"></path>
                <path d="M6.69767442,44.6511628 L6.69767442,30.6083721 C6.69767442,28.7592558 5.19795349,27.2595349 3.34883721,27.2595349 C1.49972093,27.2595349 0,28.7592558 0,30.6083721 L0,44.6511628 C0,46.5002791 1.49972093,48 3.34883721,48 C5.19795349,48 6.69767442,46.5002791 6.69767442,44.6511628" id="Path"></path>
            </g>
        </g>
    </g>
</svg>-->
<!--
<svg width="37px" height="48px" viewBox="0 47 37 2" version="1.1" xmlns="http://www.w3.org/2000/svg">
    &lt;!&ndash; Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch &ndash;&gt;
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="1(2)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0.000000, 47.000000)">
        <g fill="#FFFFFF">
            <path d="M6.69767442,0.983853606 L6.69767442,0.916146394 C6.69767442,0.907230893 5.19795349,0.9 3.34883721,0.9 C1.49972093,0.9 0,0.907230893 0,0.916146394 L0,0.983853606 C0,0.992769107 1.49972093,1 3.34883721,1 C5.19795349,1 6.69767442,0.992769107 6.69767442,0.983853606 M21.7691163,0.990257051 L21.7691163,0.909742949 C21.7691163,0.904363217 20.2693953,0.9 18.4202791,0.9 C16.5706047,0.9 15.0714419,0.904363217 15.0714419,0.909742949 L15.0714419,0.990257051 C15.0714419,0.995636783 16.5706047,1 18.4202791,1 C20.2693953,1 21.7691163,0.995636783 21.7691163,0.990257051 M33.4883721,1 C31.6392558,1 30.1395349,1.00312442 30.1395349,1.00697674 L30.1395349,1.09302326 C30.1395349,1.09687558 31.6392558,1.1 33.4883721,1.1 C35.3374884,1.1 36.8372093,1.09687558 36.8372093,1.09302326 L36.8372093,1.00697674 C36.8372093,1.00312442 35.3374884,1 33.4883721,1" id="graph-bar"></path>
            <animate xlink:href="#graph-bar"
                     attributeName="d"
                     attributeType="XML"
                     from="M6.69767442,0.983853606 L6.69767442,0.916146394 C6.69767442,0.907230893 5.19795349,0.9 3.34883721,0.9 C1.49972093,0.9 0,0.907230893 0,0.916146394 L0,0.983853606 C0,0.992769107 1.49972093,1 3.34883721,1 C5.19795349,1 6.69767442,0.992769107 6.69767442,0.983853606 M21.7691163,0.990257051 L21.7691163,0.909742949 C21.7691163,0.904363217 20.2693953,0.9 18.4202791,0.9 C16.5706047,0.9 15.0714419,0.904363217 15.0714419,0.909742949 L15.0714419,0.990257051 C15.0714419,0.995636783 16.5706047,1 18.4202791,1 C20.2693953,1 21.7691163,0.995636783 21.7691163,0.990257051 M33.4883721,1 C31.6392558,1 30.1395349,1.00312442 30.1395349,1.00697674 L30.1395349,1.09302326 C30.1395349,1.09687558 31.6392558,1.1 33.4883721,1.1 C35.3374884,1.1 36.8372093,1.09687558 36.8372093,1.09302326 L36.8372093,1.00697674 C36.8372093,1.00312442 35.3374884,1 33.4883721,1"
                     to="M6.69767442,17.6511628 L6.69767442,3.6083721 C6.69767442,1.7592558 5.19795349,0.2595349 3.34883721,0.2595349 C1.49972093,0.2595349 0,1.7592558 0,3.6083721 L0,17.6511628 C0,19.5002791 1.49972093,21 3.34883721,21 C5.19795349,21 6.69767442,19.5002791 6.69767442,17.6511628 M21.7691163,20.9902571 L21.7691163,20.9097429 C21.7691163,20.9043632 20.2693953,20.9 18.4202791,20.9 C16.5706047,20.9 15.0714419,20.9043632 15.0714419,20.9097429 L15.0714419,20.9902571 C15.0714419,20.9956368 16.5706047,21 18.4202791,21 C20.2693953,21 21.7691163,20.9956368 21.7691163,20.9902571 M33.4883721,21 C31.6392558,21 30.1395349,20.9968756 30.1395349,20.9930233 L30.1395349,20.9069767 C30.1395349,20.9031244 31.6392558,20.9 33.4883721,20.9 C35.3374884,20.9 36.8372093,20.9031244 36.8372093,20.9069767 L36.8372093,20.9930233 C36.8372093,20.9968756 35.3374884,21 33.4883721,21"
                     dur="1s"
                     fill="freeze" />
        </g>
    </g>
</svg>

-->


<!--

<svg width="37px" height="22px" viewBox="0 27 37 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    &lt;!&ndash; Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch &ndash;&gt;
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="1(2)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0.000000, 27.000000)">
        <g id="Page-1" fill="#FFFFFF">
            <path d="M6.69767442,17.6511628 L6.69767442,3.6083721 C6.69767442,1.7592558 5.19795349,0.2595349 3.34883721,0.2595349 C1.49972093,0.2595349 0,1.7592558 0,3.6083721 L0,17.6511628 C0,19.5002791 1.49972093,21 3.34883721,21 C5.19795349,21 6.69767442,19.5002791 6.69767442,17.6511628 M21.7691163,20.9902571 L21.7691163,20.9097429 C21.7691163,20.9043632 20.2693953,20.9 18.4202791,20.9 C16.5706047,20.9 15.0714419,20.9043632 15.0714419,20.9097429 L15.0714419,20.9902571 C15.0714419,20.9956368 16.5706047,21 18.4202791,21 C20.2693953,21 21.7691163,20.9956368 21.7691163,20.9902571 M33.4883721,21 C31.6392558,21 30.1395349,20.9968756 30.1395349,20.9930233 L30.1395349,20.9069767 C30.1395349,20.9031244 31.6392558,20.9 33.4883721,20.9 C35.3374884,20.9 36.8372093,20.9031244 36.8372093,20.9069767 L36.8372093,20.9930233 C36.8372093,20.9968756 35.3374884,21 33.4883721,21" id="graph-bar"></path>
        </g>
    </g>
</svg>


<svg width="37px" height="35px" viewBox="0 13 37 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    &lt;!&ndash; Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch &ndash;&gt;
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="1(2)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0.000000, 13.000000)">
        <g id="Page-1" fill="#FFFFFF">
            <path d="M6.69767442,31.6511628 L6.69767442,17.6083721 C6.69767442,15.7592558 5.19795349,14.2595349 3.34883721,14.2595349 C1.49972093,14.2595349 0,15.7592558 0,17.6083721 L0,31.6511628 C0,33.5002791 1.49972093,35 3.34883721,35 C5.19795349,35 6.69767442,33.5002791 6.69767442,31.6511628 M21.7691163,31.6511628 L21.7691163,3.9769302 C21.7691163,2.127814 20.2693953,0.628093 18.4202791,0.628093 C16.5706047,0.628093 15.0714419,2.127814 15.0714419,3.9769302 L15.0714419,31.6511628 C15.0714419,33.5002791 16.5706047,35 18.4202791,35 C20.2693953,35 21.7691163,33.5002791 21.7691163,31.6511628 M33.4883721,35 C31.6392558,35 30.1395349,34.9968756 30.1395349,34.9930233 L30.1395349,34.9069767 C30.1395349,34.9031244 31.6392558,34.9 33.4883721,34.9 C35.3374884,34.9 36.8372093,34.9031244 36.8372093,34.9069767 L36.8372093,34.9930233 C36.8372093,34.9968756 35.3374884,35 33.4883721,35" id="graph-bar"></path>
        </g>
    </g>
</svg>



<svg width="37px" height="48px" viewBox="0 0 37 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    &lt;!&ndash; Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch &ndash;&gt;
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="1(2)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Page-1" fill="#FFFFFF">
            <path d="M6.69767442,44.6511628 L6.69767442,30.6083721 C6.69767442,28.7592558 5.19795349,27.2595349 3.34883721,27.2595349 C1.49972093,27.2595349 0,28.7592558 0,30.6083721 L0,44.6511628 C0,46.5002791 1.49972093,48 3.34883721,48 C5.19795349,48 6.69767442,46.5002791 6.69767442,44.6511628 M21.7691163,44.6511628 L21.7691163,16.9769302 C21.7691163,15.127814 20.2693953,13.628093 18.4202791,13.628093 C16.5706047,13.628093 15.0714419,15.127814 15.0714419,16.9769302 L15.0714419,44.6511628 C15.0714419,46.5002791 16.5706047,48 18.4202791,48 C20.2693953,48 21.7691163,46.5002791 21.7691163,44.6511628 M33.4883721,48 C31.6392558,48 30.1395349,46.5002791 30.1395349,44.6511628 L30.1395349,3.34883721 C30.1395349,1.49972093 31.6392558,0 33.4883721,0 C35.3374884,0 36.8372093,1.49972093 36.8372093,3.34883721 L36.8372093,44.6511628 C36.8372093,46.5002791 35.3374884,48 33.4883721,48" id="graph-bar"></path>
        </g>
    </g>
</svg>-->
