<div class="loading " >
    <svg class="triangle" width="104px" height="104px" viewBox="0 0 40 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="triangle">
        <title>Page 1</title>
        <desc>Created with Sketch.</desc>
        <!--<defs>
            <filter xmlns="http://www.w3.org/2000/svg" id="dropshadow" height="130%">
                <feColorMatrix type="matrix"
                               values="
                        0 0 0 1 0
                        0 0 0 1 0
                        0 0 0 1 0
                        0 0 0 1 0" result="coloredBlur"/>
                <feGaussianBlur result="coloredBlur" stdDeviation="2"/>
                <feOffset dx="0" dy="0" result="offsetblur"/>
                <feMerge>
                    <feMergeNode in="coloredBlur"/>
                    <feMergeNode in="SourceGraphic"/>
                </feMerge>
            </filter>
        </defs>-->
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g fill="#212121">
                <!--<circle cx="5.26166667" cy="26.99955" r="0" fill="white"></circle>
                <circle cx="10.5233333" cy="34.7985" r="0" fill="white"></circle>
                <circle cx="15.7795333" cy="26.99955" r="0" fill="white"></circle>
                <circle cx="21.0384667" cy="34.7985" r="0" fill="white"></circle>
                <circle cx="26.3001333" cy="26.99955" r="0" fill="white"></circle>
                <circle cx="31.5618" cy="18.00045" r="0" fill="white"></circle>
                <circle cx="31.5618" cy="16.79895" r="0" fill="white"></circle>
                <circle cx="30.507037" cy="16.2015" r="0" fill="white"></circle>
                <circle cx="34.7178889" cy="7.7985" r="0" fill="white"></circle>
                <circle cx="21.0384667" cy="-0.00045" r="0" fill="white"></circle>
                <circle cx="10.5233333" cy="-0.00045" r="0" fill="white"></circle>
                <circle cx="9.46644444" cy="0.597" r="0" fill="white"></circle>
                <circle cx="13.6788148" cy="9" r="0" fill="white"></circle>
                <circle cx="0" cy="16.79895" r="0" fill="white"></circle>
                <circle cx="0" cy="18.00045" r="0" fill="white"></circle>
                <circle cx="19.9897778" cy="7.2015" r="0" fill="white"></circle>-->
                <path></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path></path>
                <!--<polygon id="Fill-1" points="5.26166667 26.99955 9.46644444 34.20105 13.6788148 26.99955">
                    <animate attributeName="r" attributeType="XML"
                             begin="0.2s" dur="0.4s" from="30" to="0" fill="freeze"/>
                </polygon>-->
                <!--<path stroke="white" fill="black" d="M5.26166667,26.99955Z" stroke-width="2" id="Fill-1">
                </path>-->
                <!--<polygon id="Fill-2" points="10.5233333 34.7985 18.9344074 34.7985 14.7281111 27.597"></polygon>
                <polygon id="Fill-3" points="15.7795333 26.99955 19.9903852 34.20105 24.195163 26.99955"></polygon>
                <polygon id="Fill-4" points="21.0384667 34.7985 29.4556148 34.7985 25.2523556 27.597"></polygon>
                <polygon id="Fill-5" points="26.3001333 26.99955 30.5064296 34.20105 34.7172815 26.99955"></polygon>

                <polygon id="Fill-6" points="31.5618 18.00045 35.7680963 25.20195 39.9789481 18.00045"></polygon>
                <polygon id="Fill-7" points="31.5618 16.79895 39.9789481 16.79895 35.7680963 9.59745"></polygon>
                <polygon id="Fill-8" points="30.507037 16.2015 34.7178889 9 26.3007407 9"></polygon>
                <polygon id="Fill-9" points="34.7178889 7.7985 30.507037 0.597 26.3007407 7.7985"></polygon>
                <polygon id="Fill-10" points="21.0384667 -0.00045 25.2523556 7.20105 29.4556148 -0.00045"></polygon>

                <polygon id="Fill-11" points="10.5233333 -0.00045 14.7281111 7.20105 18.9344074 -0.00045"></polygon>
                <polygon id="Fill-12" points="9.46644444 0.597 5.26166667 7.7985 13.6788148 7.7985"></polygon>
                <polygon id="Fill-13" points="13.6788148 9 5.26166667 9 9.46644444 16.2015"></polygon>
                <polygon id="Fill-14" points="0 16.79895 8.41714815 16.79895 4.2062963 9.59745"></polygon>
                <polygon id="Fill-15" points="0 18.00045 4.2062963 25.20195 8.41714815 18.00045"></polygon>

                <polygon id="Fill-16" points="19.9897778 7.2015 11.0107778 22.5675 28.9687778 22.5675"></polygon>-->
            </g>
        </g>
    </svg>
</div>
