.md-button.md-default-theme.md-warn, .md-button.md-warn {
    color: rgb(255, 87, 34);
}

.md-button.md-default-theme.md-warn.md-raised, .md-button.md-warn.md-raised, .md-button.md-default-theme.md-warn.md-fab, .md-button.md-warn.md-fab {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 87, 34);
}

.md-button.md-default-theme.md-warn.md-raised:not([disabled]) md-icon, .md-button.md-warn.md-raised:not([disabled]) md-icon, .md-button.md-default-theme.md-warn.md-fab:not([disabled]) md-icon, .md-button.md-warn.md-fab:not([disabled]) md-icon {
    color: rgb(255, 255, 255);
}

.md-button.md-default-theme.md-warn.md-raised:not([disabled]):hover, .md-button.md-warn.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-warn.md-fab:not([disabled]):hover, .md-button.md-warn.md-fab:not([disabled]):hover {
    background-color: rgb(244, 81, 30);
}

.md-button.md-default-theme.md-warn.md-raised:not([disabled]).md-focused, .md-button.md-warn.md-raised:not([disabled]).md-focused, .md-button.md-default-theme.md-warn.md-fab:not([disabled]).md-focused, .md-button.md-warn.md-fab:not([disabled]).md-focused {
    background-color: rgb(244, 81, 30);
}

.md-button.md-default-theme.md-warn:not([disabled]) md-icon, .md-button.md-warn:not([disabled]) md-icon {
    color: rgb(255, 87, 34);
}

._md a.md-default-theme:not(.md-button).md-warn, ._md a:not(.md-button).md-warn {
    color: rgb(255, 87, 34);
}

._md a.md-default-theme:not(.md-button).md-warn:hover, ._md a:not(.md-button).md-warn:hover {
    color: rgb(230, 74, 25);
}

md-checkbox.md-default-theme:not([disabled]).md-warn .md-ripple, md-checkbox:not([disabled]).md-warn .md-ripple {
    color: rgb(244, 81, 30);
}

md-checkbox.md-default-theme:not([disabled]).md-warn .md-ink-ripple, md-checkbox:not([disabled]).md-warn .md-ink-ripple {
    color: rgba(0, 0, 0, 0.54);
}

md-checkbox.md-default-theme:not([disabled]).md-warn.md-checked .md-ink-ripple, md-checkbox:not([disabled]).md-warn.md-checked .md-ink-ripple {
    color: rgba(255, 87, 34, 0.87);
}

md-checkbox.md-default-theme:not([disabled]).md-warn ._md-icon, md-checkbox:not([disabled]).md-warn ._md-icon {
    border-color: rgba(0, 0, 0, 0.54);
}

md-checkbox.md-default-theme:not([disabled]).md-warn.md-checked ._md-icon, md-checkbox:not([disabled]).md-warn.md-checked ._md-icon {
    background-color: rgba(255, 87, 34, 0.87);
}

md-checkbox.md-default-theme:not([disabled]).md-warn.md-checked.md-focused:not([disabled]) ._md-container:before, md-checkbox:not([disabled]).md-warn.md-checked.md-focused:not([disabled]) ._md-container:before {
    background-color: rgba(255, 87, 34, 0.26);
}

md-checkbox.md-default-theme:not([disabled]).md-warn.md-checked ._md-icon:after, md-checkbox:not([disabled]).md-warn.md-checked ._md-icon:after {
    border-color: rgb(238, 238, 238);
}

.md-default-theme .md-datepicker-input-container.md-datepicker-invalid, .md-datepicker-input-container.md-datepicker-invalid {
    border-bottom-color: rgb(221, 44, 0);
}

md-icon.md-default-theme.md-warn, md-icon.md-warn {
    color: rgb(255, 87, 34);
}

md-input-container.md-default-theme label.md-required:after, md-input-container label.md-required:after {
    color: rgb(221, 44, 0);
}

md-input-container.md-default-theme .md-input-messages-animation, md-input-container .md-input-messages-animation, md-input-container.md-default-theme .md-input-message-animation, md-input-container .md-input-message-animation {
    color: rgb(221, 44, 0);
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused.md-warn .md-input, md-input-container:not(.md-input-invalid).md-input-focused.md-warn .md-input {
    border-color: rgb(221, 44, 0);
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused.md-warn label, md-input-container:not(.md-input-invalid).md-input-focused.md-warn label {
    color: rgb(221, 44, 0);
}

md-input-container.md-default-theme.md-input-invalid .md-input, md-input-container.md-input-invalid .md-input {
    border-color: rgb(221, 44, 0);
}

md-input-container.md-default-theme.md-input-invalid label, md-input-container.md-input-invalid label {
    color: rgb(221, 44, 0);
}

md-input-container.md-default-theme.md-input-invalid .md-input-message-animation, md-input-container.md-input-invalid .md-input-message-animation, md-input-container.md-default-theme.md-input-invalid .md-char-counter, md-input-container.md-input-invalid .md-char-counter {
    color: rgb(221, 44, 0);
}

md-progress-linear.md-default-theme.md-warn ._md-container, md-progress-linear.md-warn ._md-container {
    background-color: rgb(255, 204, 188);
}

md-progress-linear.md-default-theme.md-warn ._md-bar, md-progress-linear.md-warn ._md-bar {
    background-color: rgb(255, 87, 34);
}

md-progress-linear.md-default-theme[md-mode=buffer].md-warn ._md-bar1, md-progress-linear[md-mode=buffer].md-warn ._md-bar1 {
    background-color: rgb(255, 204, 188);
}

md-progress-linear.md-default-theme[md-mode=buffer].md-warn ._md-dashed:before, md-progress-linear[md-mode=buffer].md-warn ._md-dashed:before {
    background: radial-gradient(rgb(255, 204, 188) 0%, rgb(255, 204, 188) 16%, transparent 42%);
}

md-progress-circular.md-default-theme.md-warn path, md-progress-circular.md-warn path {
    stroke: rgb(255, 87, 34);
}

md-radio-group.md-default-theme:not([disabled]) .md-warn ._md-on, md-radio-group:not([disabled]) .md-warn ._md-on, md-radio-group.md-default-theme:not([disabled]).md-warn ._md-on, md-radio-group:not([disabled]).md-warn ._md-on, md-radio-button.md-default-theme:not([disabled]) .md-warn ._md-on, md-radio-button:not([disabled]) .md-warn ._md-on, md-radio-button.md-default-theme:not([disabled]).md-warn ._md-on, md-radio-button:not([disabled]).md-warn ._md-on {
    background-color: rgba(255, 87, 34, 0.87);
}

md-radio-group.md-default-theme:not([disabled]) .md-warn .md-checked ._md-off, md-radio-group:not([disabled]) .md-warn .md-checked ._md-off, md-radio-group.md-default-theme:not([disabled]) .md-warn.md-checked ._md-off, md-radio-group:not([disabled]) .md-warn.md-checked ._md-off, md-radio-group.md-default-theme:not([disabled]).md-warn .md-checked ._md-off, md-radio-group:not([disabled]).md-warn .md-checked ._md-off, md-radio-group.md-default-theme:not([disabled]).md-warn.md-checked ._md-off, md-radio-group:not([disabled]).md-warn.md-checked ._md-off, md-radio-button.md-default-theme:not([disabled]) .md-warn .md-checked ._md-off, md-radio-button:not([disabled]) .md-warn .md-checked ._md-off, md-radio-button.md-default-theme:not([disabled]) .md-warn.md-checked ._md-off, md-radio-button:not([disabled]) .md-warn.md-checked ._md-off, md-radio-button.md-default-theme:not([disabled]).md-warn .md-checked ._md-off, md-radio-button:not([disabled]).md-warn .md-checked ._md-off, md-radio-button.md-default-theme:not([disabled]).md-warn.md-checked ._md-off, md-radio-button:not([disabled]).md-warn.md-checked ._md-off {
    border-color: rgba(255, 87, 34, 0.87);
}

md-radio-group.md-default-theme:not([disabled]) .md-warn .md-checked .md-ink-ripple, md-radio-group:not([disabled]) .md-warn .md-checked .md-ink-ripple, md-radio-group.md-default-theme:not([disabled]) .md-warn.md-checked .md-ink-ripple, md-radio-group:not([disabled]) .md-warn.md-checked .md-ink-ripple, md-radio-group.md-default-theme:not([disabled]).md-warn .md-checked .md-ink-ripple, md-radio-group:not([disabled]).md-warn .md-checked .md-ink-ripple, md-radio-group.md-default-theme:not([disabled]).md-warn.md-checked .md-ink-ripple, md-radio-group:not([disabled]).md-warn.md-checked .md-ink-ripple, md-radio-button.md-default-theme:not([disabled]) .md-warn .md-checked .md-ink-ripple, md-radio-button:not([disabled]) .md-warn .md-checked .md-ink-ripple, md-radio-button.md-default-theme:not([disabled]) .md-warn.md-checked .md-ink-ripple, md-radio-button:not([disabled]) .md-warn.md-checked .md-ink-ripple, md-radio-button.md-default-theme:not([disabled]).md-warn .md-checked .md-ink-ripple, md-radio-button:not([disabled]).md-warn .md-checked .md-ink-ripple, md-radio-button.md-default-theme:not([disabled]).md-warn.md-checked .md-ink-ripple, md-radio-button:not([disabled]).md-warn.md-checked .md-ink-ripple {
    color: rgba(255, 87, 34, 0.87);
}

md-radio-group.md-default-theme:not([disabled]) .md-warn ._md-container .md-ripple, md-radio-group:not([disabled]) .md-warn ._md-container .md-ripple, md-radio-group.md-default-theme:not([disabled]).md-warn ._md-container .md-ripple, md-radio-group:not([disabled]).md-warn ._md-container .md-ripple, md-radio-button.md-default-theme:not([disabled]) .md-warn ._md-container .md-ripple, md-radio-button:not([disabled]) .md-warn ._md-container .md-ripple, md-radio-button.md-default-theme:not([disabled]).md-warn ._md-container .md-ripple, md-radio-button:not([disabled]).md-warn ._md-container .md-ripple {
    color: rgb(244, 81, 30);
}

md-radio-group.md-default-theme.md-focused:not(:empty).md-warn .md-checked ._md-container:before, md-radio-group.md-focused:not(:empty).md-warn .md-checked ._md-container:before, md-radio-group.md-default-theme.md-focused:not(:empty) .md-checked.md-warn ._md-container:before, md-radio-group.md-focused:not(:empty) .md-checked.md-warn ._md-container:before {
    background-color: rgba(255, 87, 34, 0.26);
}

md-select.md-default-theme.ng-invalid.ng-dirty ._md-select-value, md-select.ng-invalid.ng-dirty ._md-select-value {
    color: rgb(221, 44, 0) !important;
    border-bottom-color: rgb(221, 44, 0) !important;
}

md-select.md-default-theme:not([disabled]):focus.md-warn ._md-select-value, md-select:not([disabled]):focus.md-warn ._md-select-value {
    border-bottom-color: rgb(255, 87, 34);
}

md-slider.md-default-theme.md-warn ._md-focus-ring, md-slider.md-warn ._md-focus-ring {
    background-color: rgba(255, 171, 145, 0.38);
}

md-slider.md-default-theme.md-warn ._md-track._md-track-fill, md-slider.md-warn ._md-track._md-track-fill {
    background-color: rgb(255, 87, 34);
}

md-slider.md-default-theme.md-warn ._md-thumb:after, md-slider.md-warn ._md-thumb:after {
    border-color: rgb(255, 87, 34);
    background-color: rgb(255, 87, 34);
}

md-slider.md-default-theme.md-warn ._md-sign, md-slider.md-warn ._md-sign {
    background-color: rgb(255, 87, 34);
}

md-slider.md-default-theme.md-warn ._md-sign:after, md-slider.md-warn ._md-sign:after {
    border-top-color: rgb(255, 87, 34);
}

md-slider.md-default-theme.md-warn[md-vertical] ._md-sign:after, md-slider.md-warn[md-vertical] ._md-sign:after {
    border-top-color: transparent;
    border-left-color: rgb(255, 87, 34);
}

md-slider.md-default-theme.md-warn ._md-thumb-text, md-slider.md-warn ._md-thumb-text {
    color: rgb(255, 255, 255);
}

.md-subheader.md-default-theme.md-warn, .md-subheader.md-warn {
    color: rgb(255, 87, 34);
}

md-switch.md-default-theme.md-checked.md-warn .md-ink-ripple, md-switch.md-checked.md-warn .md-ink-ripple {
    color: rgb(255, 87, 34);
}

md-switch.md-default-theme.md-checked.md-warn ._md-thumb, md-switch.md-checked.md-warn ._md-thumb {
    background-color: rgb(255, 87, 34);
}

md-switch.md-default-theme.md-checked.md-warn ._md-bar, md-switch.md-checked.md-warn ._md-bar {
    background-color: rgba(255, 87, 34, 0.5);
}

md-switch.md-default-theme.md-checked.md-warn.md-focused ._md-thumb:before, md-switch.md-checked.md-warn.md-focused ._md-thumb:before {
    background-color: rgba(255, 87, 34, 0.26);
}

md-tabs.md-default-theme.md-warn > md-tabs-wrapper, md-tabs.md-warn > md-tabs-wrapper {
    background-color: rgb(255, 87, 34);
}

md-tabs.md-default-theme.md-warn > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]), md-tabs.md-warn > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: rgb(255, 204, 188);
}

md-tabs.md-default-theme.md-warn > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs.md-warn > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs.md-default-theme.md-warn > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-warn > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-default-theme.md-warn > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused, md-tabs.md-warn > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused, md-tabs.md-default-theme.md-warn > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon, md-tabs.md-warn > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon {
    color: rgb(255, 255, 255);
}

md-tabs.md-default-theme.md-warn > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused, md-tabs.md-warn > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
    background: rgba(255, 255, 255, 0.1);
}

md-toolbar.md-warn > md-tabs.md-default-theme > md-tabs-wrapper, md-toolbar.md-warn > md-tabs > md-tabs-wrapper {
    background-color: rgb(255, 87, 34);
}

md-toolbar.md-warn > md-tabs.md-default-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]), md-toolbar.md-warn > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: rgb(255, 204, 188);
}

md-toolbar.md-warn > md-tabs.md-default-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs.md-default-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-toolbar.md-warn > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-toolbar.md-warn > md-tabs.md-default-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused, md-toolbar.md-warn > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused, md-toolbar.md-warn > md-tabs.md-default-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon, md-toolbar.md-warn > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon {
    color: rgb(255, 255, 255);
}

md-toolbar.md-warn > md-tabs.md-default-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused, md-toolbar.md-warn > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
    background: rgba(255, 255, 255, 0.1);
}

md-toast.md-default-theme .md-toast-content .md-button.md-highlight.md-warn, md-toast .md-toast-content .md-button.md-highlight.md-warn {
    color: rgb(255, 87, 34);
}

md-toolbar.md-default-theme:not(.md-menu-toolbar).md-warn, md-toolbar:not(.md-menu-toolbar).md-warn {
    background-color: rgb(255, 87, 34);
    color: rgb(255, 255, 255);
}